<!DOCTYPE html>
<html>
  <head></head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>

    <%= partial :welcome_message %>
    <%= partial :flash %>
    <%= yield %>

  </body>

</html>